{% extends 'index.html' %}
{% load static %}
{% block content %}

<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
      <div class="row gx-4 gx-lg-5 align-items-center">
          <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="/{{product_details.image}}" alt="..." /></div>
          <div class="col-md-6">
              
              <h1 class="display-5 fw-bolder">{{product_details.name}}</h1>
              <div class="fs-5 mb-5">
                  
                  <span>Rs.{{product_details.price}}</span>
              </div>
              <p class="lead"><strong>{{product_details.description}} </strong></p>
              <div class="d-flex">
                 
                  <a href="{% url 'cart_add' product_details.id %}"><button class="btn btn-outline-dark flex-shrink-0" type="button">
                      <i class="bi-cart-fill me-1"></i>
                      Add to cart
                  </button>
                </a>
              </div>
          </div>
      </div>
  </div>
</section>
    {% endblock content %}

 